{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'story10.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap" rel="stylesheet"> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <title>Login Page</title>
</head>
<body>
    <div class="main-login">
        <div class="login-section">
            <div id="logIn" class="auth-section">
                <h1 class="login-header">Log in to your account</h1>
                <div class="error-message"></div>
                <div class="success-message"></div>
                <div class="label-group">
                    <label class="input-label">Username</label>
                    <div class="input-group">
                        <input type="text" placeholder="Type your username" class="input" id="username" name="username" autocomplete="off">
                    </div>
                </div>
                <div class="label-group">
                    <label class="input-label">Password</label>
                    <div class="input-group">
                        <input type="password" placeholder="Type your password" class="input" id="password" name="password">
                    </div>
                </div>
                <button class="main-button" id="logInButton">
                    <div class="lds-ring loading-hide"><div></div><div></div><div></div><div></div></div>
                    <div class="button-inner">Log In</div>
                </button>
                <a id="createAccountLink" class="create-new">Don't have an account? Create an account</a>
            </div>
            <div id="signUp" class="auth-section hide">
                <h1 class="login-header">Create new account</h1>
                <div class="error-message"></div>
                <div class="success-message"></div>
                <div class="label-group" >
                    <label class="input-label">Username</label>
                    <div class="input-group">
                        <input type="text" id="username1" placeholder="Type your username" class="input" name="s_username" autocomplete="off">
                    </div>
                </div>
                <div class="label-group" >
                    <label class="input-label">Email</label>
                    <div class="input-group">
                        <input type="email" id="email1" placeholder="josh@example.com" class="input" name="s_email">
                    </div>
                </div>
                <div class="label-group" >
                    <label class="input-label">Password</label>
                    <div class="input-group">
                        <input type="password" id="password1" placeholder="Type your password" class="input" name="s_password">
                    </div>
                </div>
                <button class="main-button" id="signUpButton">
                    <div class="lds-ring loading-hide"><div></div><div></div><div></div><div></div></div>
                    <div class="button-inner">Sign Up</div>
                </button>
                <a id="loginLink" class="create-new">Already have account ? click here to login</a>
            </div>
        </div>
       
    </div>
    <script src="{% static 'main.js' %}"></script>
</body>
</html>
<!-- ---------------------------
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'story10.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap" rel="stylesheet"> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <title>Log in</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <div id="card">
    <div id="card-content">
      <div id="card-title">
        <h2>LOGIN</h2>
        <div class="underline-title"></div>
      </div>
      <form method="post" class="form">
        <label for="user-email" style="padding-top:13px">
            &nbsp;Email
          </label>
        <input id="user-email" class="form-content" type="email" name="email" autocomplete="on" required />
        <div class="form-border"></div>
        <label for="user-password" style="padding-top:22px">&nbsp;Password
          </label>
        <input id="user-password" class="form-content" type="password" name="password" required />
        <div class="form-border"></div>
        <a href="#">
          <legend id="forgot-pass">Forgot password?</legend>
        </a>
        <input id="submit-btn" type="submit" name="submit" value="LOGIN" />
        <a href="#" id="signup">Don't have account yet?</a>
      </form>
    </div>
  </div>
</body>

</html> -->